@tailwind base;
@tailwind components;
@tailwind utilities;

.tajawal-extralight {
  font-family: "Tajawal", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.tajawal-light {
  font-family: "Tajawal", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.tajawal-regular {
  font-family: "Tajawal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tajawal-medium {
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.tajawal-bold {
  font-family: "Tajawal", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.tajawal-extrabold {
  font-family: "Tajawal", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.tajawal-black {
  font-family: "Tajawal", sans-serif;
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.react-tel-input {
  direction: ltr;
}

.react-tel-input .form-control {
  @apply !w-full py-6 !text-base;
}

.react-tel-input .form-control {
  @apply !w-full py-6 !text-base;
}

.opt-container {
  @apply flex justify-between gap-2;
  direction: ltr;
}

.opt-container input {
  @apply !mr-0 flex-1 py-5 outline-none text-2xl font-medium border-2 !w-[55px] rounded-lg !h-[62px] border-[#E7E7E7];
}

.btn-shadow {
  box-shadow: 0px 4px 11px 0px rgba(64, 227, 120, 0.5);
}
